@{
    ViewBag.Title = "SuaLoai";
    Layout = "~/Views/Shared/_LayoutPageConLai.cshtml";
}

@using Web.Models;
@model Loai
<div class="container-fluid">
    <div class="row" style="margin-top:20px; margin-bottom:20px; background-color:#0ff">
        <div class="container">
            <label style="text-align:center ;font-size:50px;font-family:cursive"> Sửa Loại</label>
        </div>
        
    </div>
</div>
   
<div class="container">
    <form action="@Url.Action("SuaLoai", new { id=@Model.maLoai })" method="post" enctype="multipart/form-data">

        
     <div class="form-group" style="border: medium">
                    <div  style="text-align: left">
                        <label>Mã Nhóm</label>
                    </div>

                    <div >
                          @Html.DropDownList("maNhom", (IEnumerable<SelectListItem>)ViewBag.XXX)
                    </div>
      </div>
     <div class="form-group" style="border: medium">
                    <div  style="text-align: left">
                      <label>Tên Loại</label>
                    </div>

                    <div >
                          <input class="form-control" name="txtTenLoai" type="text" style="width:300px" value="@Model.tenloai"/>                   
                    </div>
      </div>

     
    <div class="container">
        <div class="row">         
                 <input type="submit" value="Lưu Loại" class="btn btn-outline-success btn-block" style="width:200px; height:50px; margin-bottom:20px; text-align:center"/>
            </div>
              <div class="row">
                  <a class="btn btn-outline-success btn-block" style="width:200px; height:50px; margin-bottom:20px; margin-top:20px;text-align:center" href="@Url.Action("TrangQuanLyLoai","QuanLyLoai")">Quay Lại</a>

              </div>
    </div> 
        
</form>
</div>
